* {
    box-sizing: border-box;
    margin: none;
    padding: none;
    color: #117841;
  }

  main #start, #account, #withdraw, #bankNotes{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  main #start{
    margin-top: 100px;
  }

  main #account{
    margin-top: 20px;
  }

  main #balanceDiv, #value, #quantity{
    display: flex;
    justify-content: space-around;
  }
    
  main .valueAndQuantity{
    border: 2px solid #117841;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main #balance {
    font-weight: 700;
  }

  main .balance {
    font-weight: 700;
    margin-right: 5px;
  }

  main #noWithdrawal, .button{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;  
  }

  main .button{
    margin: 50px;
  }
  
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
    margin-right: 20px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
  }

  button {
      background-color: #117841;
      color: white;
      border-radius: 5%;
      width: 150px;
      height: 40px;
      font-size: 15px;
      font-weight: 700;
  }

  input {    
    border-radius: 5%;
    border-color: #117841;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  main #newWithdrawalButton, #logoutButton{
      margin: 0px 30px;
  }

